mixin image(value)
  - let _value = Object.assign({ class: "" }, value);
  - let _class = _value.class;
  - let _src = _value.src || "default.jpg";
  - let _alt = _value.alt || "Alternate text";
  .layer-image(class=_class)
    .load-img
      picture
        source(media='(min-width: 500px)' srcset!=`${_src}.webp?w=500&quality=70` type='image/webp')
        source(media='(min-width: 500px)' srcset!=`${_src}.jpg?w=500&quality=70` type='image/jpeg')

        source(media='(min-width: 700px)' srcset!=`${_src}.webp?w=700` type='image/webp')
        source(media='(min-width: 700px)' srcset!=`${_src}.jpg?w=700` type='image/jpeg')

        source(media='(min-width: 900px)' srcset!=`${_src}.webp?w=900` type='image/webp')
        source(media='(min-width: 900px)' srcset!=`${_src}.jpg?w=900` type='image/jpeg')

        source(media='(max-width: 900px)' srcset!=`${_src}.webp` type='image/webp')
        img.core-img(src!=`${_src}.jpg` alt=_alt)
      picture
        img.placeholder-img(src!=`${_src}.jpg?w=100&quality=100&effect=blur:150`, alt=_alt inline)


mixin link(value)
  - let _value = Object.assign({ class: "layout-inline", content: "" }, value);
  - let _content = _value.content;
  - let _class = _value.class;
  - let _href = _value.href;

  a(href=_href class=_class)= _content
    block


mixin span(value)
  if typeof value == "string"
    span.style-line-height-double.layout-padding-vert-small !{value}
      block

  else
    - let _value = Object.assign({ class: "", content: "" }, value);
    - let _content = _value.content;
    - let _class = _value.class;
    - let _type = _value.type;
    - let _tempClass = _class;

    if _type != "blank"
      - _class = `style-line-height-double layout-padding-vert-small ${_tempClass}`;

    span(class=_class) !{_content}
      block


mixin basicContent(value)
  - let content = value.content;
  - let image = value.img;
  - let link = value.a;

  if typeof value == "string" || typeof content == "string"
    +span(value)

  else if typeof image == "object"
    +image(image)

  else if typeof link == "object"
    +link(link)


mixin tileContent(value)
  - let _content = value.content;
  - let _title = value.title;
  - let _class = value.class;
  - let _image = value.img;

  .layer-tile(class=_class)
    if _image
      +image(_image)

    section.layer-tile-footer
      if _title
        section.layer-tile-title= _title

      if _content
        span.layer-tile-content.style-font-12= _content


mixin tile(value)
  - let _link = value.a;

  if _link
    +link(_link)
      +tileContent(value)

  else
    +tileContent(value)


mixin column(value)
  - let _class = value.class || "layout-col";
  - let _values = value.values;

  section(class=_class)
    if Array.isArray(_values)
      each _value in _values
        - let _content = _value.content;
        - let _tile = _value.tile;

        if typeof _content == "string"
          - let $value = Object.assign({ type: "blank" }, _value);
          +span($value)

        else if typeof _tile == "object"
          +tile(_tile)

        else
          +basicContent(_value)


mixin row(value)
  - let _class = value.class || "";
  - let _values = value.values;

  section.layout-row(class=_class)
    if Array.isArray(_values)
      each _value in _values
        - let _column = _value.col;

        if typeof _column == "object"
          +column(_column)

        else
          +basicContent(_value)


mixin content(value)
  - let column = value.col;
  - let row = value.row;

  if typeof column == "object"
    +column(column)

  else if typeof row == "object"
    +row(row)

  else
    +basicContent(value)