mixin head(value = {})
  - let _class = typeof value != "string" ? value.class : "";

  .layer-header(class=_class)
    if typeof value == "string"
      h3.h4.style-font-30--device-phone.style-primary-dark.style-bold.style-center= value
    block

mixin main(value = {})
  - let _class = typeof value != "string" ? value.class : "style-font-15--device-lt-tablet";

  .layer-main(class=_class)
    if typeof value == "string"
      p.style-font-15--device-lt-tablet= value
    block

mixin foot(value = {})
  - let _class = typeof value != "string" ? value.class : "style-font-15--device-lt-tablet";

  .layer-footer(class=_class)
    if typeof value == "string"
      span.style-font-15--device-lt-tablet.style-bold= value
    block