include ./content.pug

mixin _header(value)
  - let _value = Object.assign({ class: "style-primary-dark style-bold" }, value);
  - let _title = _value.title || _value.content || "";
  - let _values = _value.values;
  - let _class = _value.class;
  
  section.layer-header.style-center
    h4(class=_class)= _title
      if Array.isArray(_values)
        each _value in _values
          +content(_value)


mixin _main(section)
  - let _section = Object.assign({ class: "" }, section);
  - let _values = _section.values;
  - let _class = _section.class;
  
  section.layer-main(class=_class)
    span.style-line-height-double
      if Array.isArray(_values)
        each _value in _values
          +content(_value)


mixin _footer(value)
  - let _value = Object.assign({ class: "style-center" }, section);
  - let _title = _value.title || _value.content || "";
  - let _values = _value.values;
  - let _class = _value.class;

  section.layer-footer
    span.style-bold(class=_class)= _title
      if Array.isArray(_values)
        each _value in _values
          +content(_value)


mixin basicSection(_section)
  - let _type = _section.type;
  - let _class = _section.class;
  - let _values = _section.values;

  case _type
    when "header"
      +_header(_section)

    when "main"
      +_main(_section)

    when "footer"
      +_footer(_section)

    default
      section(class=_class)
        if Array.isArray(_values)
          each _value in _values
            +content(_value)

            
mixin section(_section)
  - let _type = _section.type;
  - let _class = _section.class;
  - let _values = _section.values;

  case _type
    when "header"
    when "main"
    when "footer"
      +basicSection(_section)

    default
      section(class=_class)
        if Array.isArray(_values)
          each _value in _values
            - let $section = _value.section;

            if typeof $section == "object"
              +basicSection($section)
            else
              +content(_value)