doctype html
html(lang="en" itemscope="" itemtype="https://schema.org/WebPage")
  head
    include /components/sections.pug
    include /components/layout.pug
    include /components/banner.pug
    include /components/column.pug
    include /components/navbar.pug
    include /components/footer.pug
    include /components/image.pug
    include /components/layer.pug
    include /components/text.pug
    include /components/tile.pug
    include /components/hero.pug
    include /components/link.pug
    include /components/seo.pug
    include /components/row.pug

    -
      let defaults = {
        url: "/",
        websiteURL,
        name: "index",
        title: "Joseph Ojo — Mechatronics Engineer / Portfolio",
        description: "I'm Joseph Ojo, a skilled Mechatronics Engineer based in Oshawa, Canada. Experienced with multiple forms of technology, and an alumni of Ontario Tech."
      };

    block pageInfo
      -
        let page = Object.assign({}, defaults);

    link(rel="preconnect" href='https://res.cloudinary.com/' crossorigin)
    link(rel="dns-prefetch" href='https://res.cloudinary.com/' crossorigin)

    link(rel="preconnect" href=websiteURL crossorigin)
    link(rel="dns-prefetch" href=websiteURL crossorigin)

    if !dev && !githubPages
      link(rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net/" crossorigin)
      link(rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net/" crossorigin)

    meta(charset="utf-8")
    meta(http-equiv="Accept-CH" content="DPR, Viewport-Width, Width")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    //- if !dev && githubPages
    //-   base(href="/joseph/")

    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@graph": [
          {
            "@type": "Person",
            "@id": "#{page.websiteURL}/#person",
            "name": "Joseph Ojo",
            "url": "#{page.websiteURL}",
            "sameAs": [
              "https://www.linkedin.com/in/o-josephojo/",
              "https://github.com/laoluojo",
              "https://www.f6s.com/olaoluwajosephojo"
            ],
            "description": "#{defaults.description}",
            "logo": {
              "@type": "ImageObject",
              "@id": "#{page.websiteURL}/#logo",
              "url": "#{page.websiteURL}/favicon/android-chrome-512x512.png",
              "width": 512,
              "height": 512,
              "caption": "Joseph Ojo's Logo"
            },
            "image": {
              "@id": "#{page.websiteURL}/#logo"
            }
          },
          {
            "@type": "WebSite",
            "@id": "#{page.websiteURL}/#website",
            "url": "#{page.websiteURL}",
            "description": "#{defaults.description}",
            "sameAs": [
              "https://www.linkedin.com/in/o-josephojo/",
              "https://github.com/laoluojo",
              "https://www.f6s.com/olaoluwajosephojo"
            ],
            "name": "Joseph Ojo",
            "publisher": {
              "@id": "#{page.websiteURL}/#person"
            }
          },
          {
            "@type": "WebPage",
            "@id": "#{page.websiteURL}/#webpage",
            "url": "#{page.websiteURL}",
            "description": "#{page.description}",
            "inLanguage": "en-US",
            "name": "#{page.title}",
            "isPartOf": {
              "@id": "#{page.websiteURL}/#website"
            },
            "about": {
              "@id": "#{page.websiteURL}/#person"
            }
          }
        ]
      }

    //- if dev
      meta(http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: https:; style-src 'self' 'unsafe-inline'; img-src data: 'self' https://res.cloudinary.com/ https://josephojo.com; script-src 'self' https://res.cloudinary.com/ https://polyfill.io/ 'unsafe-inline' 'unsafe-eval'; connect-src 'self'; block-all-mixed-content; upgrade-insecure-requests; base-uri 'self'; object-src 'none'; worker-src 'self'; manifest-src 'self'; media-src 'self' https://res.cloudinary.com/; form-action 'self'; frame-ancestors 'self';")
      meta(http-equiv="Feature-Policy" content="microphone 'none'; geolocation 'none'; usb 'none'; display-capture 'none'; sync-xhr 'self'; camera 'none'; battery 'none'")

    meta(name="robots" content="index, follow")
    meta(name="copyright" content="Joseph Ojo")

    meta(name="mobile-web-app-capable" content="yes")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, user-scalable=yes")
    meta(name="keywords" content="Joseph Ojo, josephojo, josephojo.com, joseph, ojo, portfolio, engineer, web, mechatronics, mech, robots, UOIT, OntarioTech, tech, website, netlify, resume, projects, contact, about, oshawa, ontario, canada")

    meta(property="og:type" content="website")
    //- meta(name="twitter:site", content="@jo-ojo")
    meta(property="article:author" content="Joseph Ojo")
    meta(property="og:site_name" content=websiteURL.replace("https://", ""))
    meta(itemprop="image" content=`${websiteURL}/favicon/android-chrome-512x512.png`)
    meta(property="og:image" content=`${websiteURL}/favicon/android-chrome-512x512.png`)
    meta(name="twitter:image" content=`${websiteURL}/favicon/android-chrome-512x512.png`)

    block seo
      +seo(page)

    <!--[if IE]>
    link(rel="shortcut icon", href="./favicon/favicon.ico", type="image/x-icon")
    <![endif]-->

    link(rel="manifest", href="./manifest.webmanifest")
    link(type="text/plain" rel="author" href="./humans.txt")
    link(rel="home", href=websiteURL)

    meta(name="theme-color", content="#2d22ca")
    meta(name="twitter:card", content="summary")
    meta(name="application-name", content="Joseph Ojo")
    meta(name="msapplication-TileColor", content="#2d22ca")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="Joseph Ojo")
    meta(name="msapplication-config", content="./browserconfig.xml")
    meta(name="apple-mobile-web-app-status-bar-style", content="#2d22ca")
    meta(name="msapplication-TileImage", content="./favicon/ms-icon-144x144.png")
    link(rel="mask-icon", href="./favicon/safari-pinned-tab.svg", color="#2d22ca")
    link(rel="apple-touch-icon", sizes="180x180", href="./favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./favicon/favicon-16x16.png")

    link(rel="stylesheet" href="./css/app.min.css" ph-inline)

    //- <!--[if lt IE 9]>
    //- link(rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin)
    //- link(rel="dns-prefetch" href="https://cdnjs.cloudflare.com/" crossorigin)
    //- <![endif]-->
    script(src="./js/ver-check.min.js" ph-inline)
  body
    +link({
      class: "skip-main",
      href: "#content",
      content: "Skip to main content"
    })

    block navbar
      +navbar(page)

    main.main.transition-in-view(data-container tabindex="-1")
      #content
        block content

    .layer-action-center.layer-action-center-hide
      article.layer-action-group
        .layer-shadow--1.layer-round.layout-align-self-end.layout-margin-horz-small
          button.back-to-top.action-btn.action-btn-hover.layer-round.layout-padding-smallest.layer-primary.layer-primary-dark-hover.layer-primary-light-focus.style-tertiary.style-hover-tertiary.style-focus-tertiary(type="button")
            span.action-btn-group
              span.action-btn-section
                span.action-btn-spacer
                span.action-btn-spacer
                span.action-btn-content Back To Top
              i.action-icon.style-font-size-24(inline) expand_less

    block footer
      +footer

    script(src="./js/vendor.min.js" ph-inline)
    //- if !dev
      script(src="/js/service.min.js" ph-inline async)
