doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    meta(http-equiv='Accept-CH' content='DPR, Viewport-Width, Width')
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv='Cache-Control' content='public, max-age=31536000')
    meta(http-equiv='Content-Security-Policy' content=`default-src https: 'self'; font-src data: 'self' https://fonts.gstatic.com/; style-src 'self' 'unsafe-inline'; img-src data: 'self' https://res.cloudinary.com/${cloud_name}/ https://www.josephojo.com/ https://josephojo.netlify.com/; 
    script-src https://polyfill.io/ https://cdnjs.cloudflare.com/ 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self'${dev ? " * blob: ws:" : ""}; upgrade-insecure-requests; base-uri 'self' https://josephojo.netlify.com/ https://www.josephojo.com/;`)

    meta(name='robots' content='all')
    meta(name='title' content=page.title)
    meta(name='DC.title' content=page.title)
    meta(name='HandheldFriendly' content='true')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='shortlink' content=`https://www.josephojo.com/${page.name}`)
    meta(name='canonical' content=`https://www.josephojo.com/${page.name}`)
    meta(name='keywords' content='Joseph Ojo, josephojo, josephojo.com, joseph, ojo, portfolio, engineer, web, mechatronics, website, netlify')

    meta(property='og:type' content='website')
    meta(property='og:image' content=`https://www.josephojo.com/android-icon-192x192.png`)
    meta(property='article:author' content='Joseph Ojo')
    meta(property='og:site_name' content='josephojo.com')
    meta(property='og:title' content=`${page.title} - josephojo.com`)
    meta(property='og:url' content=`https://www.josephojo.com/${page.name}`)

    meta(itemprop='name' content=`${page.title} - josephojo.com`)
    meta(itemprop='image' content='https://www.josephojo.com/android-icon-192x192.png')
    meta(name='description' content='The porfolio of Joseph, it contains all amazing projects etc...')
    meta(itemprop='description' content='The porfolio of Joseph, it contains all amazing projects etc...')
    meta(property='og:description' content='The porfolio of Joseph, it contains all amazing projects etc...')
    title= page.title

    link(rel='preconnect' href=`https://res.cloudinary.com/${cloud_name}/` crossorigin)
    link(rel='preconnect' href='https://fonts.gstatic.com/' crossorigin)
    link(rel='preconnect' href='https://cdnjs.cloudflare.com/' crossorigin)
    link(rel='preconnect' href='https://polyfill.io/' crossorigin)

    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')

    //- link(rel="prefetch" href="manifest.webmanifest" as="fetch" crossorigin)
    //- link(rel="prefetch" href="/favicon-32x32.png" as="image" crossorigin)
    //- link(rel="prefetch" href="/android-icon-144x144.png" as="image" crossorigin)

    link(rel='icon', type='image/png', sizes='512x512', href='/android-icon-512x512.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    link(rel='manifest', href='manifest.webmanifest')
    link(rel='home', href='https://www.josephojo.com/')

    meta(name='theme-color', content='#4500ff')
    meta(name='msapplication-TileColor', content='#4500ff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')

    link(rel="preload" href="https://fonts.gstatic.com/s/frankruhllibre/v5/j8_36_fAw7jrcalD7oKYNX0QfAnPUzPC9JfGhA.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="prefetch" href="https://fonts.gstatic.com/s/varelaround/v12/w8gdH283Tvk__Lua32TysjIfp8uP.woff2" as="font" type="font/woff2" crossorigin)

    link(rel='stylesheet' href='./css/app.min.css' inline async)

      //- link(rel="preload" href="https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2" as="font" type="font/woff2" crossorigin)
    //- link(rel="preload" href='./css/app.min.css' as="style" async)
    //- link(rel="prefetch" href='https://polyfill.io/v3/polyfill.min.js?flags=gated&features=default%2Ces7%2CHTMLPictureElement%2CObject.values%2Cfetch%2CgetComputedStyle%2CrequestAnimationFrame%2Cdocument.getElementsByClassName%2CWebAnimations%2Cperformance.now' as="script" crossorigin)
    //- link(rel="preload" href='./js/app.modern.min.js' as="script")

    <!--[if lt IE 9]>
      script(src='https://cdnjs.cloudflare.com/ajax/libs/nwmatcher/1.4.2/nwmatcher.min.js' async)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js' async)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js' async)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js' async)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js' async)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.13/es5-shim.min.js' async)
    <![endif]-->

    <!--[if lt IE 10]>
      script(src='https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js' async)
      script.
        flexibility(document.documentElement);
    <![endif]-->

    script.
      var check = function () {
          "use strict";
          if (typeof window.Symbol == "undefined") return false;
          try {
              Function("class Foo {}") ();
              Function("let bar = x => x+1;") ();
              Function("let bez = { a: 'b' }; let box = { b: 'a', ...bez };") ();
          } catch (e) { return false; }
          return true;
      };

      var _require = function (src, fn) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.setAttribute("async", "");
        script.type = 'text/javascript';
        script.onload = fn;
        script.onreadystatechange = function () {
            if (this.readyState === 'complete') { fn(); }
        };
        script.src = src;
        head.appendChild(script);
      };

      if (/msie|trident|edge/g.test(navigator.userAgent.toLowerCase()) || !check()) {
        _require("https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js");
        _require("https://cdnjs.cloudflare.com/ajax/libs/html5-history-api/4.2.10/history.min.js");
        _require("https://cdnjs.cloudflare.com/ajax/libs/html5-history-api/4.2.10/history.ielte7.min.js");
       }

    //- https://polyfill.io/v3/polyfill.min.js?flags=gated&features=HTMLPictureElement%2CXMLHttpRequest%2Cconsole.log%2Cdocument.querySelector%2Cfetch%2CrequestAnimationFrame%2C%7Ehtml5-elements%2C%7Eviewport%2CgetComputedStyle%2CObject.assign%2CObject.getOwnPropertyNames%2CObject.keys%2CObject.values%2CRegExp.prototype.flags%2CURL%2Cblissfuljs%2Cdefault%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces5%2Ces6%2Ces7%2CArray.prototype.includes%2CArray.prototype.filter%2CArray.prototype.find%2CArray.prototype.forEach%2CArray.prototype.every%2CArray.isArray%2CArray.from%2CEvent
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/smoothState.js/0.7.2/jquery.smoothState.min.js")
    //- link(rel="preload" href="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=IntersectionObserver%2CHTMLPictureElement%2CXMLHttpRequest%2Cconsole.log%2Cdocument.querySelector%2Cfetch%2CrequestAnimationFrame%2C%7Ehtml5-elements%2C%7Eviewport%2CgetComputedStyle%2CMutationObserver%2CObject.assign%2CObject.getOwnPropertyNames%2CObject.keys%2CObject.values%2CRegExp.prototype.flags%2CURL%2Cblissfuljs%2Cdefault%2Ces2015%2Ces2016%2Ces2017%2Ces2018%2Ces5%2Ces6%2Ces7%2CArray.prototype.includes%2CArray.prototype.filter%2CArray.prototype.find%2CArray.prototype.forEach%2CArray.prototype.every%2CArray.isArray%2CArray.from%2CEvent" as="script" async crossorigin="anonymous")
    //- link(rel="preload" href='./js/app.modern.min.js' as="script" async crossorigin="anonymous")

    //- link(rel='preconnect' href='https://polyfill.io/v3/')
    //- link(rel='dns-prefetch' href='https://fonts.googleapis.com')
    //- link(rel='stylesheet' async href='https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:500,900|Varela+Round:400|Montserrat:700,800|Roboto:400,600|Material+Icons&display=swap')

    include ./components/header.pug
    include ./components/layer.pug
    include ./components/layout.pug
    include ./components/section.pug
    include ./components/hero.pug
    include ./components/footer.pug
  body
    div(itemscope='' itemtype='https://schema.org/Article' style="display: none" hidden)
      meta(itemprop='url' content=`https://www.josephojo.com/${page.name}`)
      span(itemprop='name' content=`${page.title} - josephojo.com`)
        | by 
        span(itemprop='author') Joseph Ojo
          div(itemscope='' itemtype='https://schema.org/Person')
            img(itemprop='image' src='https://www.josephojo.com/android-icon-192x192.png' alt='The logo for josephojo.com')
            span(itemprop="email") laoluojo
              span &#64;
              span gmail.com
            span(itemprop='description')
              | The porfolio of Joseph, it contains all amazing projects etc...
            span(itemtype='https://schema.org/EducationalOrganization' itemprop="alumniOf")
              | OnTech - Ontario Tech University
            a(href='https://www.linkedin.com/in/o-josephojo/' itemprop='url') linkedin 
    if true
      //- dev
      //- Navbar etc...
      +header(page)
      
      mixin sectionView(section)
        if typeof section == "object"
          +section(section)

      mixin layoutView(layout)
        if typeof layout == "object"
          - let sectionList = layout.values;
          - let section = layout.section;
          +layout(layout)
            +sectionView(section)

            if Array.isArray(sectionList)
              each sections in sectionList
                - let section = sections.section;
                  +sectionView(section)

      main.main
        - let layerLists = page.values;

        //- Page Layers
        if Array.isArray(layerLists)
          each layers in layerLists
            - let layer = layers.layer;  //- Display Custom Layer if it exists
            - let hero = layers.hero; //- Display Hero Layer if it exists

            if typeof hero == "object"
              +hero(hero, page.banner)

            if typeof layer == "object"
              - let layout = layer.layout;
              - let layoutList = layer.values;
              +layer(layer)
                +layoutView(layout)

                if Array.isArray(layoutList)
                  each layouts in layoutList
                    - let layout = layouts.layout;
                    +layoutView(layout)

      .layer-action-center.layer-action-center-show
        article
          .layout-flex.layout-padding-horz
            section.layout-spacer
            section.layer-primary-dark.layer-shadow.layer-round
              button.back-to-top.btn.btn-hover.layer-round.layout-padding-horz-smallest.layout-padding-vert-smallest.layer-primary-dark.layer-primary-hover.layer-primary-focus.style-tertiary.style-hover-tertiary.style-focus-tertiary
                span.btn-group
                  i.icon.style-font-sz-24(inline) expand_less
                  span.btn-section
                    span.btn-spacer
                    span.btn-content Back To Top

                button.copyright-btn.btn.btn-hover.layer-round.layout-padding-horz-smallest.layout-padding-vert-smallest.layer-primary-dark.layer-primary-hover.layer-primary-focus.style-tertiary.style-hover-tertiary.style-focus-tertiary
                  span.btn-group.style-font-sz-24
                    i.icon(inline) copyright
                    span.btn-section
                      span.btn-spacer
                      span.btn-content 2019 Okiki Ojo

      if !page.noFooter
        +footer("Made with ❤ by Okiki Ojo.")
    else
      section.layer.layer-dark
        article.layout-contain
          section.layout.layout-shorten.layer-overflow-hide.layout-max-height.layout-flex.layout-align-items-center.layout-justify-content-start
            section
              h3.style-secondary-dark.style-font-title.style-uppercase.layout-margin-dull-vert.layout-padding-vert-mini Joseph
              h1.style-white.style-bold.layer-title.style-uppercase.layout-margin-dull-vert-top Coming SOON
              h5.style-white.style-line-height.style-capital.layer-content-detail This website is currently in development. We are working day and night to have it in tip top shape.

    script(src='https://polyfill.io/v3/polyfill.min.js?flags=gated&features=default%2Ces7%2CHTMLPictureElement%2CObject.values%2Cfetch%2CgetComputedStyle%2CrequestAnimationFrame%2Cdocument.getElementsByClassName%2CWebAnimations%2Cperformance.now' crossorigin async)
    script(src=`${debug ? './js/app.modern.min.js' : './js/app.vendor.min.js'}` inline async)
    if !debug
      script(src=`./js/store.min.js` inline async)