mixin banner(value = {})
  - let { content, title, image, mode = "hero" } = value;
  - let width = mode == "hero" ? 1448 : 1488;
  - let height = mode == "hero" ? 464 : 500;

  .banner(class=mode)
    .contain
      .image-container
        +image(
          Object.assign({
            loading: "eager"
          }, image)
        ).effect-parallax(width=width height=height)

      .layout
        header.content
          h1(itemprop="headline")= title
          h2.style-off-blue(itemprop="description")!= content
        +scroll-down
