mixin image(value = {})
  -
    let _class = value.class;
    let source = value.src || "cloudinary/city";
    let alt = value.alt || "Alternate text";

    let external = /\/fetch\//.test(source);
    let src = source.replace("fetch/", "");

    let cloudinaryTest = /^cloudinary\//.test(src);
    let origin = `https://res.cloudinary.com/okikio-assets/image/${external ? "fetch" : "upload"}/`;
    let urlParse = (filters = "w_auto") => cloudinaryTest ? `${origin + "q_auto:best/c_fit," + filters},dpr_auto,f_auto/${src.replace(/^cloudinary\//, "")}` : src;

  .layer-image(class=_class title=alt)
    figure.load-img(itemprop="image" itemscope itemtype="https://schema.org/ImageObject")&attributes(attributes)
      .layer-image-overlay
      img.placeholder-img(src!=`${urlParse("w_50,e_blur:500")}.jpg` alt=alt loading="lazy")
      img.core-img(data-src!=`${urlParse()}.jpg` alt=alt loading="lazy" itemprop="url")
      noscript
        img.no-script-img(src!=`${urlParse()}.jpg` aria-hidden="true" alt=alt loading="lazy")