include /components/link.pug
include /components/image.pug

mixin themeSwitcher()
  .layout-inline-block
    button.theme-switcher.navbar-btn.action-btn.layer-round.layout-padding-smaller.layer-transparent.layer-light-hover(title="Theme Switcher" name="Theme Switcher")
      span.action-btn-group
        //- brightness_medium
        +icon("theme switcher").action-icon.style-font-family-bold.style-font-size-24

mixin navbar(value = {})
  - let { url } = value;
  - let _class = value.class;

  - let tabs = ["about", "portfolio", "contact"]; //
  //- - let focusIndex = url.toLowerCase().includes(tabs);

  header.header
    nav.navbar.navbar-fixed(class=_class itemscope itemtype="https://schema.org/SiteNavigationElement" aria-label="Main Navigation")
      .layout-contain-enlarge.navbar-layout
        .navbar-head(itemscope itemtype="http://schema.org/Organization")
          +link({
            href: "/",
            class: "navbar-title style-primary-dark-hover style-primary-dark-focus"
          })(itemprop="url" data-swup-preload title="The Joseph Ojo Logo.")
            img.navbar-logo(src="/favicon/favicon.svg" alt="Logo." itemprop="logo" inline)
            //-  joseph-new.svg
            span.navbar-title-line
            span.name(itemprop="name") JOSEPH!
          .layout-spacer
          .navbar-foot.navbar-mobile
            +themeSwitcher
            //- if !debug
            .layout-inline-block
              button.navbar-menu.action-btn.layer-round.layout-padding-smaller.layer-transparent.layer-light-hover(title="Menu Button" name="Menu Button" 
              aria-expanded="false"
              aria-controls="navbar-list")
                span.action-btn-group
                  +icon("menu").action-icon.style-font-family-bold.style-font-size-24

        .layout-spacer.navbar-desktop
        .navbar-main
          //- if !debug
          ul.navbar-list#navbar-list(itemscope itemtype="http://schema.org/BreadcrumbList")
            each tab, i in tabs
              if typeof tab == "string"
                li(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
                  +link({
                    href: `/${tab}`,
                    class: `navbar-link${url.toLowerCase().includes(tab) ? " navbar-link-focus" : ""}`
                  })(itemprop="url" data-swup-preload)
                    span.navbar-link-content(itemprop="name")= tab.replace("-", " ")
                    meta(itemprop="position" content="1")
            .navbar-desktop-display
              +themeSwitcher

